In [2]:
# Set the bases

dataset_name = "Example Semantic Model"
lakehouse_name = "SempyDemo"

StatementMeta(, 7d7b88e3-0763-4b20-8e0d-13336228d97d, 6, Finished, Available)

In [3]:
import sempy.fabric as fabric

StatementMeta(, 7d7b88e3-0763-4b20-8e0d-13336228d97d, 7, Finished, Available)

In [6]:
# Show entire table
df_table = fabric.read_table(dataset_name, "DimCustomer")
df_table

StatementMeta(, 7d7b88e3-0763-4b20-8e0d-13336228d97d, 10, Finished, Available)

,CustomerKey,GeographyKey,CustomerAlternateKey,Title,FirstName,MiddleName,LastName,NameStyle,BirthDate,MaritalStatus,...,NumberChildrenAtHome,EnglishEducation,EnglishOccupation,HouseOwnerFlag,NumberCarsOwned,AddressLine1,AddressLine2,Phone,DateFirstPurchase,CommuteDistance
0,11471,207,AW00011471,<NA>,Latasha,<NA>,Suarez,False,1995-03-25,S,...,0,Partial College,Clerical,1,1,"29, avenue de la Gare",<NA>,1 (11) 500 555-0180,2019-10-18,2-5 Miles
1,11602,135,AW00011602,<NA>,Larry,<NA>,Gill,False,1998-10-11,S,...,0,Partial College,Clerical,0,1,Am Gallberg 645,<NA>,1 (11) 500 555-0125,2019-12-11,2-5 Miles
2,11604,275,AW00011604,<NA>,Edgar,<NA>,Sanchez,False,1998-12-01,S,...,0,Partial College,Clerical,1,1,6543 Jacobsen Street,<NA>,1 (11) 500 555-0117,2018-06-05,2-5 Miles
3,12515,189,AW00012515,<NA>,Shelby,<NA>,Bailey,False,1998-12-01,S,...,0,Partial College,Clerical,1,1,"111, rue des Pyrenees",<NA>,1 (11) 500 555-0195,2019-12-25,2-5 Miles
4,12517,133,AW00012517,<NA>,Alexa,<NA>,Watson,False,1999-02-22,S,...,0,Partial College,Clerical,0,1,Residenz Straße 98,<NA>,1 (11) 500 555-0191,2020-03-21,2-5 Miles
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18479,28164,334,AW00028164,<NA>,Gabrielle,<NA>,Coleman,False,1984-04-19,M,...,0,Partial College,Skilled Manual,1,1,419 River Ash Court,#9,768-555-0128,2017-08-15,0-1 Miles
18480,28890,170,AW00028890,<NA>,Jaclyn,<NA>,Ma,False,1966-10-13,M,...,0,Partial College,Professional,1,2,Carlsplatz 4650,Verkaufsabteilung,1 (11) 500 555-0184,2019-12-07,10+ Miles
18481,28940,32,AW00028940,<NA>,Kristine,<NA>,Serrano,False,1996-02-20,M,...,0,Bachelors,Professional,1,3,3365 Atherton Circle,# 13,1 (11) 500 555-0178,2019-08-26,10+ Miles
18482,29344,5,AW00029344,<NA>,Gilbert,<NA>,Ye,False,1964-05-09,S,...,0,Bachelors,Management,1,2,2775 Delta View Ln.,#9,1 (11) 500 555-0115,2020-05-28,5-10 Miles
18483,29355,153,AW00029355,<NA>,Virginia,<NA>,Fernandez,False,1990-05-03,M,...,0,Graduate Degree,Clerical,1,0,Krönerweg 9679,Einkaufsabteilung,1 (11) 500 555-0116,2019-06-03,0-1 Miles

In [8]:
# Query semantic model and return table
fabric.evaluate_measure(dataset_name, \
    measure=["$ Sales", "# Orders"], \
    groupby_columns=["DimProduct[Color]"], \
    filters={"DimProduct[Color]": ["Black", "Blue", "Yellow"]})

StatementMeta(, 7d7b88e3-0763-4b20-8e0d-13336228d97d, 12, Finished, Available)

    Color       $ Sales  # Orders
0   Black  8838411.9576      9042
1    Blue    2279096.28      3747
2  Yellow  4856755.6275      4364

In [10]:
## Run query fetched from Perf. Analyzer in PBI Desktop

(fabric.evaluate_dax(
        dataset = dataset_name,
        dax_string=
        """
// DAX Query
DEFINE
	VAR __DS0FilterTable = 
		TREATAS({2020}, 'DimDate'[FiscalYear])

	VAR __DS0Core = 
		SUMMARIZECOLUMNS(
			'DimProductSubcategory'[Sub Category Name],
			__DS0FilterTable,
			"v__Orders", 'FactInternetSales'[# Orders]
		)

	VAR __DS0PrimaryWindowed = 
		TOPN(1001, __DS0Core, [v__Orders], 0, 'DimProductSubcategory'[Sub Category Name], 1)

EVALUATE
	__DS0PrimaryWindowed

ORDER BY
	[v__Orders] DESC, 'DimProductSubcategory'[Sub Category Name]


        """  
       )  
)

StatementMeta(, 7d7b88e3-0763-4b20-8e0d-13336228d97d, 14, Finished, Available)

   DimProductSubcategory[Sub Category Name]  [v__Orders]
0                           Tires and Tubes         9741
1                                   Helmets         6298
2                         Bottles and Cages         4638
3                                Road Bikes         3875
4                            Mountain Bikes         3305
5                                   Jerseys         3253
6                                      Caps         2138
7                             Touring Bikes         2083
8                                   Fenders         2071
9                                    Gloves         1408
10                                   Shorts         1014
11                                 Cleaners          888
12                          Hydration Packs          714
13                                    Socks          562
14                                    Vests          547
15                               Bike Racks          319
16                              Bike Stands          245